# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables
.env
backend/.env
frontend/.env

# Database
*.sqlite

# Build outputs
frontend/dist/

# Uploads
uploads/*
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# Idea/Editor files
.vscode/
.idea/
*.log
